# Java related
/Servers/
/ZKs/
/infodigg_bin/
/libraries/
deploy-all/
deploy/
target/
null/
*.war
*.ear
*.class
.sonar/
*.jar
*.log
build.properties
!river-downloadLibraries-spring-boot.jar

# eclipse specific
*.pydevproject
bin/
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.DS_Store
.metadata/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/.metadata/
.project
.classpath
.settings/
.idea/
dependency-reduced-pom.xml
pom.xml.versionsBackup
.factorypath
